@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input, textarea {
        border-color: #888;
        background-color: transparent;
        outline: none;
    }
    @media (prefers-color-scheme: dark) {
        input:-webkit-autofill {
            box-shadow: 0 0 0 1000px #292524 inset;
            -webkit-text-fill-color: #E7E5E4;
        }
    }
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}