@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input, textarea {
        border-color: #78716C;
        background-color: transparent;
        outline: none;
    }
    textarea {
        scrollbar-width: thin;
        scrollbar-color: #78716C transparent;
    }
    @media (prefers-color-scheme: dark) {
        input:-webkit-autofill {
            box-shadow: 0 0 0 1000px #292524 inset;
            -webkit-text-fill-color: #E7E5E4;
        }
    }
}
@layer components {
    .bg-round-6 {
        @apply bg-slate-200 dark:bg-slate-800 rounded-md w-6 h-6;
    }
    .text-thick-shadow {
        @apply [text-shadow:0_0_5px_#FFF,2px_2px_5px_#FFF,-2px_2px_5px_#FFF,2px_-2px_5px_#FFF,-2px_-2px_5px_#FFF] dark:[text-shadow:0_0_5px_#000,2px_2px_5px_#000,-2px_2px_5px_#000,2px_-2px_5px_#000,-2px_-2px_5px_#000]
    }
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}