@import 'mword';

.mw-header {
  background: LightGray;
  height: 60px;
  //min-width: 709px;
  top: 0;
}

.mw-footer {
  background: LightGray;
  bottom: 0;
  height: 24px;
  left: 0;
  line-height: 24px;
  text-align: center;
  width: 100%;
}
