.mw-wrap {
  color: Black;
  font-size: 14px;

  &> div {
    position: fixed;
    z-index: 1000;
  }

  * {
    box-sizing: border-box;
  }
}

.mw-article {
  background: LightGray;
  display: none;
  left: 0;
  top: 60px;
  width: 100%;

  &> div {
    position: absolute;
    top: 12px;
    width: 40px;
  }

  &> input {
    position: absolute;
    top: 10px;
  }

  &> button {
    position: absolute;
    top: 10px;
    width: 70px;
  }

  &>textarea {
    left: 10px;
    position: absolute;
    top: 35px;
  }
}

.left-border {border-left: 1px solid DarkGray;}

.flex-container {
  display: flex;
  justify-content: space-around;
  &> div, button, select {flex: 1;}
}

.mw-row-2 {
  height: 30px;

  &> .mw-text {
    line-height: 30px;
  }
  &> div {margin: 0 5px;}
}

.mw-row-3 {
  height: 20px;
  &> .mw-text {line-height: 20px;}
}

.mw-banner {
  background: White;
  border-color: LightGray;
  border-style: solid;
  border-width: 5px 0;
  height: 20px;
  &> div {height: 10px;}
  &:hover {border-color: DimGrey;}
}

.mw-text-word1 {
  font-size: 40px;
  line-height: 60px;
  padding: 0 10px;
}

.mw-text-word2 {
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px;
}

.mw-text-word3 {
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
}

.mw-score-text {
  text-align: right;
  &> div {margin: 0 5px;}
}

.mw-score-number {
  text-align: left;
  &> div {margin: 0 5px;}
}
