.code {
  overflow-x: auto;
  width: 100%; }

.header {
  height: 50px; }

.nav>li>a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.footer {
  background-color: #f5f5f5;
  padding: 25px 0;
  text-align: center; }

.flex-container {
  display: flex;
  justify-content: space-around; }
  .flex-container > div {
    flex: 1; }

.search-panel>input,label,button{
  flex: initial;
  margin: auto 2px; }
  .search-panel>*:nth-child(1) {
    margin: 0;
    flex: 1; }
  .search-panel>*:nth-child(3),*:nth-child(5) {
    width: 100px; }

.stat>tbody>tr {
    margin: 3px 0; }
  .stat>tbody>tr>td:nth-child(1) {
    padding-right: 5px; }
  .stat>tbody>tr>td:nth-child(2)>div {
    margin: auto 0;
    background: gray;
    height: 10px; }
  .stat>tbody>tr>td:nth-child(2)>div>div {
    height: 100%;
    width: 50%; }
  .stat>tbody>tr>td:nth-child(3) {
    padding-left: 5px; }
